# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

/src/config.js
/src/services/config.js

# next.js
/.next/
/out/

# production
/build

/src/config.template.js
/src/services/config.template.js
/src/app/api/auth/me/route.template.js
/src/app/api/auth/login/route.template.js
/src/app/api/cart/route.template.js
/src/lib/mongodb.template.ts
/src/models/user.model.template.js
/src/app/api/auth/register/route.template.js
/src/app/api/auth/logout/route.template.js
/src/app/api/auth/verify/route.template.js
/src/app/api/auth/refresh/route.template.js
/src/app/api/auth/refresh/route.template.js

.env.local.example
.env.template

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
